.content-container {
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.book-items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
  align-content: flex-start;
  align-items: center;  
}

::ng-deep body {
    background: linear-gradient(to bottom, #FFF176, #FFD54F);
  }