.option-buttons-container {
    background-color: #F0F0F0 ;/*aquamarine; /*Just for the sake of visualization during developent*/
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 650px ;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 50px;
}

.book-filter-btn {
    background-color: #2BBBAD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-right: auto;

}

.book-filter-btn img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.book-filter-btn:hover {
    background-color: #0074E4;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.book-scan-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.2s ease;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.book-scan-btn img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.book-scan-btn:hover {
    background-color: whitesmoke;
    transform: scale(1.1);
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.2);
}