/* Style the navbar */
#navbar {
    font-family: 'Open Sans', sans-serif;
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0; /* Remove left/right padding, add top/bottom padding */
    border-radius: 10px; /* Add curved borders */
    z-index: 100; /* Ensure it's above other content */

}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    padding: 0 20px; /* Add left/right padding */
}

/* Style the nav-logo container */
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo:hover {
    cursor: default;
    transform: scale(1.1);
}
.nav-logo img {
    width: 32px; /* Adjust the size of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between image and text */
}

.nav-logo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* Style the navigation items */
.nav-item-container {
    display: flex;
    gap: 20px; /* Add some spacing between navigation items */
}

.nav-item-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    transition: color 0.3s ease;
    align-self: center;
}

.nav-item-container a:hover,
.working-tab {
    color: #0056b3;
    transform: scale(1.2);
}

.working-tab {
    font-size: 18px;
}

/* Style the search input and button */
.nav-search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #f2f2f2; /* Add a background color */
}

.nav-search button.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease;

}

.nav-search button.search-btn img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.nav-search button.search-btn:hover {
    transform: scale(1.5);
}
