<section id="navbar">
    <div id="nav-container">
        <div class="nav-logo">
            <img [src]="navbarLogoPath" alt="books-logo">
            <p> {{ navTitle }} </p>
        </div>
        <div class="nav-item-container">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            <a routerLink="/book-track" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a>
            <a routerLink="/people-find" routerLinkActive="active" ariaCurrentWhenActive="page">People</a>
            <a routerLink="/issues" routerLinkActive="active" ariaCurrentWhenActive="page">Issues</a>
        </div>
        <div class="nav-search">
            <input type="text" placeholder="Search a book or person">
            <button class="search-btn"><img [src]="navbarSearchIconPath" alt="search"></button>
        </div>
    </div>
</section>