<section id="navbar">
    <div id="nav-container">
        <div class="nav-logo">
            <img [src]="navbarLogoPath" alt="books-logo">
            <p> {{ navTitle }} </p>
        </div>
        <div class="nav-item-container">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span [class.working-tab]="workingTab.value == eNavTabs.Home" > Home </span>
            </a>
            <a routerLink="/book-track" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span [class.working-tab]="workingTab.value == eNavTabs.Books" > Books </span>
            </a>
            <a routerLink="/find-people" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span [class.working-tab]="workingTab.value == eNavTabs.People" > People </span>
            </a>
            <a routerLink="/issues" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span [class.working-tab]="workingTab.value == eNavTabs.Issues" > Issues </span>
            </a>
        </div>
        <div class="nav-search">
            <input type="text" placeholder="Search a book or person">
            <button class="search-btn"><img [src]="navbarSearchIconPath" alt="search"></button>
        </div>
    </div>
</section>